# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.Arcanoid.iml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\Unity\Arcanoid\.idea\.idea.Arcanoid\.idea/dataSources/
/dataSources.local.xml
